@page "/categories"
@using CurrentBlogs.Client.Components.Helper
@using CurrentBlogs.Client.Components.Services.Interfaces


@inject ICategoryDTOService CategoryService
@rendermode InteractiveServer

<PageTitle>Current Blogs | Categories</PageTitle>

<div class="col-lg-9 pe-lg-4 pe-xl-5">
    @*Generate Categories on the Page*@
    @foreach (CategoryDTO category in categories)
    {
        <div @key="category.Id">
            <CategoryCard 
                Category="category"/>
        </div>
    }
</div>




@code {
    #region Parameter

    #endregion

    #region State

    private IEnumerable<CategoryDTO> categories = [];
    #endregion

    #region Methods

    protected override async Task OnInitializedAsync()
    {
        //Get All Categories
        categories = await CategoryService.GetAllCategoriesAsync();
    }
    #endregion
}
