@page "/posts/create"
@attribute [Authorize(Roles = "Author")]

@inject IBlogPostDTOService BlogService
@inject NavigationManager Nav

@rendermode InteractiveServer

<PageTitle>Current Blogs | New Post</PageTitle>

<div class="container">
    <h3>New Blog Post</h3>

    <div class="card shadow">
        <div class="card-body">
            <BlogPostForm
                Post="new BlogPostDTO()"
                OnSubmit="HandleSubmit"/>
        </div>

    </div>
</div>


@code {
    [CascadingParameter]
    public Task<AuthenticationState>? AuthStateTask { get; set; }

    private async Task HandleSubmit(BlogPostDTO newPost)
    {
        await BlogService.CreateBlogPostAsync(newPost);
        // await CategoryService.CreateCategoryAsync(post);
        Nav.NavigateTo("/categories");
    }
}