@page "/"


@inject IBlogPostDTOService BlogPostService

<PageTitle>Home | All Blog Posts</PageTitle>


@* <AuthorizeView Roles="Author, Moderator">
    @if(context.IsInRole("Author"))
</AuthorizeView> *@

<!-- Blog posts -->
<div class="row">
    <div class="col-lg-9 pe-lg-4 pe-xl-5">
        <h1 class="pb-3 pb-lg-4">All Blogs</h1>

        <!-- Post -->
        @foreach (BlogPostDTO blogPost in blogPosts)
        {
            @if (blogPost.IsPublished == true && blogPost.IsDeleted == false)
            {
                 <BlogCard BlogPost="blogPost" />                
            }
        }
    </div>

    <SideBar></SideBar>
</div>

<a class="btn-scroll-top" href="#top" data-scroll aria-label="Scroll back to top">
    <svg viewBox="0 0 40 40" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <circle cx="20" cy="20" r="19" fill="none" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10">
        </circle>
    </svg>
    <i class="ai-arrow-up"></i>
</a>

@code {
    #region Parameter

    #endregion

    #region State

    private IEnumerable<BlogPostDTO> blogPosts = [];
    #endregion

    #region Methods

    protected override async Task OnInitializedAsync()
    {
        //Get All Posts
        blogPosts = await BlogPostService.GetAllBlogPostsAsync();
    }
    #endregion
}