@inject NavigationManager Nav

<div class="row gy-3 align-items-center mt-lg-5 pt-2 pt-md-3 pt-lg-0 mb-md-2 mb-xl-4">
    <div class="col col-md col-12 order-md-2 order-3">
        <div class="d-flex justify-content-end">
            @if (Page > 1)
            {
                <a class="btn btn-outline-secondary w-md-auto w-100 btn-sm" href="@Nav.GetUriWithQueryParameter(nameof(Page), Page - 1)" type="button">
                    Prev page
                </a>
            }
            @if (Page < TotalPages)
            {
                <a class="btn btn-outline-secondary w-md-auto w-100 btn-sm ms-md-1" type="button" href="@Nav.GetUriWithQueryParameter(nameof(Page), Page + 1)">
                    Next page
                </a>
            }
            <div class="ms-auto d-flex">
                @if(TotalPages > 1)
                {
                    <span class="badge text-bg-dark text-white d-flex align-items-center ms-md-1 ">Page @Page of @TotalPages</span>
                }
            </div>
        </div>
    </div>
</div>

@code {
    #region Parameter
    [SupplyParameterFromQuery]
    public int Page { get; set; }


    [Parameter, EditorRequired]
    public int TotalPages { get; set; }
    #endregion


    #region State
    #endregion




    #region Methods
    protected override void OnInitialized()
    {
        if (Page < 1) Page = 1;
    }
    #endregion
}
