    <!-- Footer -->
<footer class="footer pt-lg-5 pt-4 pb-5">
    <div class="container">
        <div class="row gy-md-5 gy-4 mb-md-5 mb-4 pb-lg-2">
            <div class="col-lg-3">
                <a class="navbar-brand d-inline-flex align-items-center" href="index.html">
                    <img class="float-start" width="78" height="70" src="Images/Logo_Dark_NoText.svg" />
                    <div>
                        <p class="lead mb-0">Current Blogs</p>
                        <p class="small">By: Austin Denofrio</p>
                    </div>
                </a>
                <p class="text-wrap">The best blogger this side of the mississippi. There is noone else who can write blogs such as I. The way i concisely type and clearly write is by no means sub-par</p>
            </div>
            <div class="col-xl-8 offset-xl-1 col-lg-9">
                <div class="row row-cols-sm-4 row-cols-1">
                    <div class="col">
                    </div>
                    <div class="col">
                        <ul class="nav flex-column mb-0">
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0 text-primary" href="#">DenofrioAustinDev@gmail.com</a>
                            </li>
                            <li class="nav-item mb-2">
                                <a class="nav-link p-0" href="#">Privacy policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="pt-4 pt-lg-0"></div>
    </div>
</footer>


@code {

}
