    <!-- Footer -->
<footer class="footer pt-lg-5 pt-4 pb-5">
    <div class="container">
        <div class="row g-3 align-items-end ">
            <div class="col-12 col-lg-4 justify-content-start">
                <a class="navbar-brand d-inline-flex align-items-center float-start" href="index.html">
                    <img class="float-start me-1" width="100" height="80" src="Images/mark_light.svg" />
                    <img class="" width="330" height="70" src="Images/signature_light.svg" />
@*                     <div>
                        <p class="lead mb-0">Current Blogs</p>
                        <p class="fs-sm">By: Austin Denofrio</p>
                    </div> *@
                </a>
                <p class="text-wrap">
                    I'm a full-stack software developer in the .NET8 Blazor framework. I have a couple of years experience in various tech related jobs, but my passion is fullstack development.
                </p>
            </div>
            <div class="col-12 col-lg-3 text-lg-start text-light ms-xl-auto">
                <ul class="nav flex-column mb-0 align-items-start justify-content-start h-100">
                    <li class="nav-item mb-2">
                        <a href="https://denofrio-fullstack-developer.netlify.app/" class="text-decoration-none text-dark">Portfolio</a>
                    </li>
                    <li class="nav-item mb-2">
                        <a href="#projects" class="text-decoration-none text-dark">Bug Tracker</a>!
                    </li>
                    <li class="nav-item mb-2">
                        <a href="mailto:denofrioaustindev@gmail.com" target="_blank" class="text-decoration-none text-dark">
                            Email Me
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


@code {

}
