    <!-- Footer -->
<footer class="footer pt-lg-5 pt-4 pb-5">
    <div class="container">
        <div class="row g-3 align-items-end ">
            <div class="col-12 col-lg-4 justify-content-start">
                <a class="navbar-brand d-inline-flex align-items-center float-start" href="index.html">
                    <img class="float-start" width="78" height="70" src="Images/Logo_Dark_NoText.svg" />
                    <div>
                        <p class="lead mb-0">Current Blogs</p>
                        <p class="fs-sm">By: Austin Denofrio</p>
                    </div>
                </a>
                <p class="text-wrap">
                    I'm a full-stack software developer in the .NET8 Blazor framework. I have a couple of years experience in various tech related jobs, but my passion is fullstack development.
                </p>
            </div>
            <div class="col-9 col-lg-5 d-flex d-none d-lg-block justify-content-end justify-content-lg-center">
            </div>
            <div class="col-12 col-lg-3 text-lg-end text-light">
                <div class="card shadow bg-secondary mb-3">
                    <div class="card-body p-1 text-center text-body-emphasis">
                        <a href="https://denofrio-fullstack-developer.netlify.app/" class="text-decoration-none">Portfolio</a>
                    </div>
                </div>
                <div class="card shadow bg-warning-subtle mb-3">
                    <div class="card-body p-3 text-center text-body-emphasis">
                        Check out my <a href="#projects">Bug Tracker</a>!
                    </div>
                </div>
                <div class="card shadow bg-secondary mb-3">
                    <div class="card-body  p-1 text-center text-body-emphasis">
                        <a href="mailto:denofrioaustindev@gmail.com" target="_blank" class="text-decoration-none">
                            Email Me!
                        </a>
                        <span class="mx-1">or</span>
                        <span class="d-inline-flex align-items-center gap-1">
                            <a href="https://www.linkedin.com/in/austin-denofrio-286792223/" target="_blank"
                               class="text-decoration-none d-inline-flex align-items-center">
                                <i class=" ai-linkedin"></i>
                            </a>
                            <a href="https://github.com/AustinAdamDenofrio" target="_blank" class="text-decoration-none">
                                <i class=" ai-github"></i>
                            </a>
                            <a class="text-decoration-none" target="_blank" href="https://twitter.com/A_Denofrio">
                                <i class=" ai-x"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


@code {

}
