@page "/blogpost/edit/{id:int}"
@using Microsoft.AspNetCore.Authorization

@rendermode InteractiveServer
@attribute [Authorize]

@inject NavigationManager Nav
@inject IBlogPostDTOService BlogService

@if (blogPost is not null)
{

    <PageTitle>Cloud Contacts | @(string.IsNullOrEmpty(blogPost?.Title) ? "Edit Category" : blogPost.Title)</PageTitle>



    <div class="p-3 my-5 border-2 shadow-lg bg-light">
        <BlogPostForm Post="blogPost"
                      OnSubmit="HandleSubmit" />
    </div>

}
else
{
    <div class="text-center">
        <h3>Uh oh!</h3>
        <p>No Contact exists with that information</p>
    </div>
}

@code {
    #region  parameter
    //From Page Route
    [Parameter]
    public int Id { get; set; }

    private BlogPostDTO? blogPost;
    string errorMessage = string.Empty;
    #endregion


    #region  state
    #endregion



    #region  methods
    protected override async Task OnInitializedAsync()
    {
        try
        {
            //get the contact info by id from database
            blogPost = await BlogService.GetAnyBlogPostByIdAsync(Id);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
            blogPost = null;
        }

        if (blogPost is null)
        {
            Nav.NavigateTo("/author/blogposts");
        }
    }

    private async Task HandleSubmit()
    {
        try
        {
            errorMessage = string.Empty;

            if (blogPost is not null)
            {
                await BlogService.UpdateBlogPostAsync(blogPost);
            }

        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);

            errorMessage = "An error occurred while trying to update this blog post";
        }

        if (errorMessage == string.Empty)
        {
            Nav.NavigateTo("/author/blogposts");
        }
    }
    #endregion
}