@using CurrentBlogs.Client.Components.Helper

@if (Category is not null)
{
    <div class="row">
        <div class="col-12">
            <div class="d-flex justify-content-center align-items-center p-5 border border-2 shadow-lg bg-light">
                <div class="col-lg-9 ">
                    <article class="row g-0 border-0 pt-3 pt-sm-0 mb-4">
                        <a class="col-sm-5 bg-repeat-0 bg-size-cover bg-position-center rounded-5" href="blog-single-v2.html" style="background-image: url(@(string.IsNullOrEmpty(Category.ImageUrl) ? ImageHelper.DefaultCategoryPicture : Category.ImageUrl)); min-height: 14rem" aria-label="Post image">
                        </a>
                        <div class="col-sm-7">
                            <div class="pt-4 pb-sm-4 ps-sm-4 pe-lg-4 d-flex flex-column h-100">
                                <div class="flex-grow-1">
                                    <h3>
                                        <a href="blog-single-v2.html">@Category.Name</a>
                                    </h3>
                                    <p class="d-sm-none d-md-block">@Category.Description</p>
                                </div>
                                <div class="row flex-shrink-0">
                                    <div class="col-12 col-md-7 d-flex justify-content-start">
                                        <div class="vstack justify-content-end align-items-start">
                                            <div class="d-flex flex-wrap mt-n2">
                                                <a class="nav-link text-body-secondary fs-sm fw-normal p-0 mt-2 me-3" href="#">
                                                    10
                                                    <i class="ai-share fs-lg ms-1"></i>
                                                </a>
                                                <a class="nav-link text-body-secondary fs-sm fw-normal d-flex align-items-end p-0 mt-2" href="#">
                                                    4
                                                    <i class="ai-message fs-lg ms-1"></i>
                                                </a>
                                                <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
                                                <span class="fs-sm text-body-secondary mt-2">12 hours ago</span>
                                                <span class="fs-xs opacity-20 mt-2 mx-3">|</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-5 d-flex align-items-end mt-2">
                                        <div class="d-flex flex-wrap justify-content-center mt-n2">
                                            @* @foreach (TagDTO tag in Category.tag)
                                        {

                                        } *@
                                            <a class="badge text-nav fs-xs border mt-2 me-1" href="#">
                                                1st Tag
                                            </a>
                                            <a class="badge text-nav fs-xs border mt-2 me-1" href="#">
                                                2nd Tag
                                            </a>
                                            <a class="badge text-nav fs-xs border mt-2 me-1" href="#">
                                                3rd Tag
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>

                </div>
            </div>
        </div>

        <EditForm Model="Category" OnValidSubmit="HandleSubmit">
            <DataAnnotationsValidator />

            <h2 class="mt-4">Category Preview</h2>

            <div class="col-lg-12 pe-lg-4 pe-xl-5">
                <div class="row">
                    <div class="col-12">
                        <div class="my-3">
                            <label class="form-label"> Name  </label>
                            <InputText class="form-control" placeholder="Category Name" @bind-Value="Category.Name"></InputText>
                            <ValidationMessage For="() => Category.Name" />
                        </div>

                        <div class="my-3">
                            <label class="form-label"> Description  </label>
                            <InputText class="form-control" placeholder="Category Description" @bind-Value="Category.Description"></InputText>
                            <ValidationMessage For="() => Category.Description" />

                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-12 col-md-6">
                        <label class="form-label"> Image:  </label>
                        <InputFile OnChange="OnFileChange" class="form-control" accept=".png, .jpg, .jpeg, .svg, .webp" />
                        <span class="text-danger"> @imageError </span>
                    </div>
                    <div class="col-12 col-md-6 d-flex align-items-end justify-content-end">
                        <div class="d-flex justify-content-end">
                            <div class="me-3">
                                <a class="btn btn-outline-secondary" href="author/categories">
                                    Cancel
                                </a>
                            </div>
                            <div class="">
                                <button type="submit" class="btn btn-primary">
                                    Save
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </EditForm>
    </div>
}

@code {
    #region  parameter
    [Parameter, EditorRequired]
    public CategoryDTO? Category { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<CategoryDTO> OnSubmit { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }
    #endregion


    #region  state
    private UserInfo? userInfo;

    private string? imageError;

    #endregion



    #region  methods
    private async Task HandleSubmit()
    {
        await OnSubmit.InvokeAsync(Category);
    }

    private async Task OnFileChange(InputFileChangeEventArgs changeEvent)
    {
        imageError = null;

        if (changeEvent.File is null)
        {
            Category!.ImageUrl = ImageHelper.DefaultCategoryPicture;
        }
        else if (changeEvent.File.Size > ImageHelper.MaxFileSize)
        {
            imageError = "Images must be less than 5 MB";
        }
        else
        {
            try
            {
                Category!.ImageUrl = await ImageHelper.GetDataUrl(changeEvent.File);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
                imageError = "Could not read the selected file. Please select a diffferent image.";
            }
        }
    }
    #endregion
}